.hero__btn {
    border-radius: 4px;
    border: solid var(--acent-color);
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    text-align: center;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--acent-color);
}

.gallery__btn {
    max-width: 145px;
    min-width: 73px;
    min-height: 38px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border: 0 solid #F5F4FA;

    transition-property: color, background-color,  box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

    &:hover,
    &:focus {
    background-color: var(--acent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
    &.active-btn {
    background-color: var(--acent-color);
    color: #ffffff;
}
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    cursor: pointer;

    &__icon {
        font: #000000;
    
        @include animation(fill);
    }
    &:hover &__icon,
    &:focus &__icon {
    fill: var(--acent-color);
}
}

.btn-send {
    display: inline-flex;
    padding: 10px 52px;
    width: 200px;

    align-items: center;
    justify-content: center;

    background-color: var(--acent-color);
    border-radius: 4px;
    border: 0 solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

    letter-spacing: 0.06em;
    color: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}
